<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b7d71">  <td>18/09/09 12:50:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankBazzzarTestCae.basic()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">basic</td> 
  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="93dd95">  <td>18/09/09 12:50:45</td>   <td>-8814</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;bankPM.login()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/09 12:50:45</td>   <td>-8856</td> <td>&nbsp;</td><td title="&gt;&gt;BankBazzzarTestCae.setData()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/09 12:50:45</td>   <td>-9589</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/09 12:50:45</td>   <td>-8827</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/09 12:51:32</td>   <td>37524</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.BankBazzzarTestCae@5ce81285]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1468303011</td>   <td></td> </tr>
</table>
