<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baeedf">  <td>18/09/08 05:56:27</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/08 05:56:28</td>   <td>267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC002_EditLead.setData()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/08 05:56:28</td>   <td>961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/08 05:56:28</td>   <td>974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/08 05:56:44</td>   <td>16506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@20398b7c]">editLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/08 05:56:57</td>   <td>29596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/08 05:56:58</td>   <td>30258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/08 05:56:58</td>   <td>30259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/08 05:57:07</td>   <td>39616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_EditLead.editLead(java.lang.String, java.lang.String)[pri:0, instance:testcases.TC002_EditLead@20398b7c]">editLead</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/08 05:57:18</td>   <td>51007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/08 05:57:19</td>   <td>51747</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:testcases.TC002_EditLead@20398b7c]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
